.workshift {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    box-sizing: border-box;
    font-size: .32rem;
    .smallTitle {
        height: 5%;
        padding-left: 5%;
    }
    .orderList {
        position: absolute;
        top: 5%;
        left: 0;
        bottom: 0;
        width: 100%;
        ul {
            font-size: .24rem;
            color: #999999;
            li {
                border-top: solid 1px #dddddd;
                padding: .36rem 5%;
                height: 2rem;
                box-sizing: border-box;
                position: relative;
                .detail {
                    position: absolute;
                    right: .5rem;
                    font-size: .3rem;
                    top: .85rem;
                    span {
                        margin-right: 0rem;
                    }
                    i {
                        font-size:.30rem;
                    }
                }
                .top {
                    padding-bottom: .15rem;
                    color: #666666;
                    font-size: .28rem;
                    .total {
                        font-size: .36rem;
                    }
                }
                .goods {
                    padding: .15rem 0;
                }
                .date {
                    text-indent: 1.5em;
                    padding-top: .15rem;  
                }
            }
        }
        .earningsColor {
            color: #dc6060;
        }
        #scroller {
            width: 100%;
        }
        #pullUp {
            padding:0 10px;
            height:30px;
            line-height:30px;
            color:#888;
            text-align:center;
        }
    }
}
