.login {
	width: 100%;
	height: 100%;
	background: url($loginBG) no-repeat left top;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	.login_inner {
		position: relative;
		width: 100%;
		height: 100%;
		.title {
			height: 30%;
			img {
				width: 40%;
			}
		}
	}
	.login_inner.selStore {
		-webkit-filter: blur(3px); /* Chrome, Opera */
		-moz-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
	}
	form {
		width: 57%;
		min-width: .43rem;
		position: absolute;
		top: 30%;
		left: 50%;
		transform:translateX(-50%); 
		-webkit-transform:translateX(-50%); 
		-o-transform:translateX(-50%); 
		-moz-transform:translateX(-50%); 
		-ms-transform:translateX(-50%);
		.inputItem {
			width: 100%;
			border-bottom: solid 2px #9ca8ca;
			font-size: 0;
			margin-bottom: 1rem;
			transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			i {
				color: #9da9ca;
				font-size: .44rem;
				line-height: 0.7rem;
				width: 20%;
				transition: color .2s ease-in-out;
				-moz-transition: color .2s ease-in-out;
				-webkit-transition: color .2s ease-in-out;
				-o-transition: color .2s ease-in-out;
			}
			input {
				color: #fff;
				width: 80%;
				box-sizing: border-box;
				border: none;
				background:none;
				font-family: ".PingFangSC";
				font-size: .28rem;
				height: .7rem;
			}
			::-webkit-input-placeholder { /* WebKit browsers */ 
				color: #fff; 
			} 
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
				color: #fff; 
			} 
			::-moz-placeholder { /* Mozilla Firefox 19+ */ 
				color: #fff; 
			} 
			:-ms-input-placeholder { /* Internet Explorer 10+ */ 
				color: #fff; 
			}
		}
		.inputItem.active {
			border-bottom-color: #e66a6a;
			i {
				color: #e66a6a;
			}
		}
		.btnGroup {
			text-align: center;
			width: 100%;
			font-size: 0;
			padding-top: .5rem;
			.loginBtn {
				width: 90%;
				background: none;
				border: none;
				font-size: .28rem;
				height: .68rem;
				margin: 0 auto;
				border-radius: 100px;
				background-image: linear-gradient(to right, #e66a6a, #ec8e8e);
				color: #fff;
			}
		}
	}
	.forgetPW {
		font-size: 0;
		position: absolute;
		bottom: .44rem;
		text-align: center;
		width: 100%;
		a {
			text-decoration: none;
			font-family: ".PingFangSC";
			font-size: .28rem;
			color: #fff;
		}
	}

	.selStoreBox {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .4);
		left: 0;
		top: 0;
		.title {
			color: #fff;
			font-size: .32rem;
			font-weight: 600;
			height: 1rem;
		}
		.scroll_store {
			height: 60%;
			width:100%;
			position: relative;
			.selStore {
				// overflow: auto;
				.storeItem {
					text-align: center;
					font-size: .28rem;
					margin: 0 auto .5rem;
					color: #e66a6a;
					width: 50%;
					max-width: 3.7rem;
					height: .6rem;
					text-align: center;
					background-color: #fff;
					border-radius: 100px;

					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					.name {
						height: 100%;
					}
				}
			}
			
		}
	}
}