.orderDetail{
	height: 100%;
	width: 100%;
	font-size: .32rem;
	.title {
		color: #444;
		height: 1rem;
		line-height: 1rem;
		padding: 0 .2rem;
  	}
  	.csroll_box{
  		// overflow-y:scroll;
		width: 100%;
  		height: 5rem;
  		position: relative;
  		.goods {
  			width: 100%;
	  		.item{
	  			display: webkit-flex;
				display: flex;
				border-bottom: .02rem dashed #ddd;
				height: 1.2rem;
				line-height: 1.2rem;
				span{
					text-align: center;
					color: #666;
				}
				.name{
					flex:500;
					padding-left: .5rem;
					text-align: left;
					word-break: keep-all;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				}
				.money{
					flex:125;
				}
				.num{
					flex:125;
				}
	  		}
	  	}
  	}
	.order_info {
		border-top: .1rem solid #f1efef;
  		.item{
  			display: webkit-flex;
			display: flex;
			font-size: .28rem;
			color: #999;
			height: .4rem;
			line-height: .4rem;
			margin-bottom: .3rem;
			.text{
				flex : 1;
			}
			.algin_right{
				text-align: right;
				padding-right: .25rem;
			}
			.algin_left{
				padding-left: .5rem;
			}
  		}
  	}
	.btnGroup {
		text-align: center;
		padding-top: .2rem;
		position: fixed;
		bottom: .5rem;
		width: 100%;
		button {
			width: 3rem;
			height: .6rem;
			background: none;
			font-size: .35rem;
			border: none;
			border-radius: 5px;
			box-shadow: 0 0 10px 0 #71d685;
			background-color: #71d785;
			color: #fff;
		}
	}
	.delConfirmMask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background-color: rgba( 0, 0, 0, .63);
		font-size: .28rem;
		color: #444;
		.delConfirm {
			width: 5rem;
			// height: 3rem;
			box-sizing: border-box;
			background-color: #fff;
			box-shadow: 2px 0 2px 0 rgba(220, 96, 96, 0.31);
			border-radius: 10px;
			.tipText {
				text-align: center;
				// line-height: 2rem;
				padding: 1rem .2rem;
			}
			.btn {
				text-align: center;
				padding-bottom: .3rem;
				button {
					background:none;
					border: none;
					width: 1.4rem;
					height: .5rem;
					background-color: #FA7D70;
					color: #fff;
					border-radius: 100px;
				}
				.cancle {
				    background-color: #adabab;
				    margin-right: 10px;
				}
			}
		}
	}
}